In [1]:
import pandas as pd

# Read data from file
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [2]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
df.index= df['race']
race_count = df.index.value_counts()
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [3]:
# What is the average age of men?
men_mask = df['sex'] == 'Male'
average_age_men = round(df[men_mask].age.mean(), 1)
average_age_men

np.float64(39.4)

In [4]:
# What is the percentage of people who have a Bachelor's degree?
bachelors_mask = df['education'] == 'Bachelors'
bachelors_mask.value_counts()
percentage_bachelors = round((bachelors_mask.value_counts()[True]/df.shape[0])*100, 1)
percentage_bachelors

np.float64(16.4)

In [5]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?
edu_df = df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])

# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = round((edu_df.value_counts()[True]/df.shape[0])*100, 1)
lower_education = round((edu_df.value_counts()[False]/df.shape[0])*100, 1)
higher_education, lower_education

(np.float64(23.0), np.float64(77.0))

In [6]:
# percentage with salary >50K
high_edu_mask = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
high_edu_rich_df = high_edu_mask['salary'] == '>50K'
higher_education_rich = round((high_edu_rich_df.value_counts()[True]/high_edu_mask.shape[0])*100, 1)

low_edu_mask = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
low_edu_rich_df = low_edu_mask['salary'] == '>50K'
lower_education_rich = round((low_edu_rich_df.value_counts()[True]/low_edu_mask.shape[0])*100, 1)

higher_education_rich, lower_education_rich

(np.float64(46.5), np.float64(17.4))

In [7]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
min_work_hours

np.int64(1)

In [8]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
min_work_mask = df[df['hours-per-week'] == min_work_hours]
num_min_workers = min_work_mask.shape[0]

rich_min_work_df = min_work_mask['salary'] == '>50K'
rich_percentage = round((rich_min_work_df.value_counts()[True]/rich_min_work_df.shape[0])*100, 1)

num_min_workers, rich_percentage

(20, np.float64(10.0))

In [9]:
# What country has the highest percentage of people that earn >50K?
high_earners_mask = df[df['salary'] == '>50K']
country_counts = df['native-country'].value_counts()
high_earner_counts = high_earners_mask['native-country'].value_counts()
earning_percentages = high_earner_counts/country_counts * 100
highest_earning_country = earning_percentages.idxmax()
highest_earning_country_percentage = round(earning_percentages.max(), 1)

highest_earning_country, highest_earning_country_percentage

('Iran', np.float64(41.9))

In [10]:
# Identify the most popular occupation for those who earn >50K in India.
IN_mask = df[df['native-country'] == 'India']
IN_occupation_counts = IN_mask['occupation'].value_counts()
top_IN_occupation = IN_occupation_counts.idxmax()
top_IN_occupation

'Prof-specialty'